[SIMULATOR]
dt = 5e-4
num_steps=50000000
num_knots=15
saving_freq = 100
Dx = 1
min_x = -6
max_x = 6
max_G_0 = 70
max_G_1 = 30
init_xq_range=-2, 2

[PRIORS]
type_spline=GAUSSIAN
parameters_spline=0, 2
norm_spline_nodes=yes
type_Dq=UNIFORM
parameters_Dq=-3, 0
type_k=GAUSSIAN
parameters_k=0, 1

[SUMMARY_STATS]
min_bin = -5
max_bin = 5
num_bins = 20
lag_times=1, 10, 100, 1000, 10000, 100000