# GHA workflow for running tests. 
#
# Largely taken from 
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
# Please check the link for more detailed instructions

name: Run tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          rm -rf __pycache__
          rm -rf ~/.cache/pip
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip list
          python -m pip install .
          pip install pytest
      - name: Test with pytest
        run: |
          pytest tests/ -k 'not training'